
@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "Cart";
}

@{
    
    var CPVList = Session["cart"] as List<Webshop_gr02.Controllers.Item>;
}

<div class="content_wrap">

    <h2>Cart</h2>

    <table>
        <tr>

            <th>naam</th>
            <th>prijs</th>
            <th>Aantal</th>
            <th>sub totaal</th>
        </tr>

        @foreach (Webshop_gr02.Controllers.Item CPV in CPVList)
        {
         
            <tr>
                @* <td>@Html.ActionLink("Deleten", "Delete", "ShoppingCart",
                    new { id = CPV.Product.ID_P }, new { @class = "btn btn-primary" })</td>*@
                <td>@CPV.Product.naam</td>
                <td>@CPV.Product.productType.VerkoopPrijs</td>
                <td>@CPV.Quantity</td>
                <td>@(CPV.Product.productType.VerkoopPrijs * CPV.Quantity)</td>
            </tr>
        }

    </table>
    <br />
    <br />
    @Html.ActionLink("Ga verder met winkelen", "ProductenOverzichtKlant")
</div>


