@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "ProductenOverzichtklant";
}

<h2>ProductenOverzichtklant</h2>
<h4>
    @if (User.IsInRole("KLANT"))
    {
        if (@ViewBag.goldmember == true)
        {
        @ViewBag.tekstgm @:Je krijgt @ViewBag.percentage% korting op alle producten. 
        }
    }
</h4>

<div class="content_wrap">
    <h2>Producten</h2>
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            var bedrag = Model[i].productType.VerkoopPrijs;
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" id="collumproduct">
                    <img src="../Images/@Model[i].productType.ImagePath" id="productImage">
                    <div class="caption">
                        <ul>
                            <li>
                                <h3>
                                    @Model[i].naam
                                </h3>
                            </li>
                            <li>
                                Omschrijving:
                                <br />
                                @Model[i].productType.Omschrijving
                            </li>
                            <li>
                                Merk: @Model[i].productType.Merk
                            </li>
                            <li id="Button">
                                @if (User.IsInRole("Klant"))
                                {
                                    <div class="bestelbutton">
                                        @Html.ActionLink("Bestel", "../Bestelling/ProductBestel", new { id = @Model[i].ID_P, bedrag = bedrag, voorraad = @Model[i].voorraad,  username = User.Identity.Name }, new { @class = "btn btn-primary" })
                                    </div>
                                }
                                @if (User.IsInRole("KLANT") && @ViewBag.goldmember == true)
                                {
                                    <div class="prijs">
                                        <div class="nieuwe_prijs">Prijs:  €@(bedrag = bedrag * ViewBag.nieuweprijs) </div>
                                        <div class="oude_prijs"> €@Model[i].productType.VerkoopPrijs </div>
                                    </div>
                                }
                                else{
                                    <div class="prijs" style="margin-left:85px;"> 
                                        Prijs: €@(bedrag)
                                    </div>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
