@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "MeestVerkocht";
}

<div class="content_wrap">
<<<<<<< HEAD
    <br>
         <h2>Meest verkochte producten</h2>

     @{
        var grid = new WebGrid(Model, defaultSort: "Name");
    }
    @grid.GetHtml()
        
=======
    <div class="dropdown_month">
        @using (Html.BeginForm("MeestVerkocht", "Manager"))
        {
           DateTime today = DateTime.Now;
            <select name="date">
                @for (int i = 0; i < 13; i++)
                {
                    DateTime answer = today.AddMonths(-i);
                    <option value="@answer.ToString("yyyy/MM")">@answer.ToString("MMMM/yy")</option>
                }
            </select>
           <input type="submit" value="check" />
        }
    </div>
    <div class="table_wrap">
        <h2>Meest verkochte producten</h2>
        <div class="table_content">

            <div class="row">
                <div class="table_left">
                    <b>Product Naam</b>
                </div>
                <div class="table_middle">
                    <b>Verkoopprijs in euro's</b>
                </div>
                <div class="table_right">
                    <b>Afzet</b>
                </div>
            </div>

            @for (int i = 0; i < Model.Count; i++)
            {
                {var count = Model.Count-1;
                    if (i == count)
                    {
                        <div class="row_last">
                            <div class="table_left">
                                @Model[i].naam
                            </div>
                            <div class="table_middle">
                                @String.Format("{0:0.00}", Model[i].prijs)
                            </div>
                            <div class="table_right">
                                @Model[i].afzet
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="table_left">
                                @Model[i].naam
                            </div>
                            <div class="table_middle">
                                @String.Format("{0:0.00}", Model[i].prijs)
                            </div>
                            <div class="table_right">
                                @Model[i].afzet
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
>>>>>>> origin/master
    </div>
    
    