@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "Omzet_Monthly";
}
<div class="content_wrap">
    <div class="dropdown_month">
        @using (Html.BeginForm("OmzetMonthly", "Manager"))
        {
            DateTime today = DateTime.Now;
            <select name="date">
                @for (int i = 0; i < 13; i++)
                {
                    DateTime answer = today.AddMonths(-i);
                    <option value="@answer.ToString("yyyy/MM")">@answer.ToString("MMMM/yy")</option>
                }
            </select>
            <input type="submit" value="check"  class = "btn btn-primary" />
        }
    </div>
                  <table class="table">
        <thead>
    	    <tr>
                <th>Product Naam</th>
        	    <th>Bruto Omzet</th>
                 <th>Netto Omzet</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                {
                    var count = Model.Count - 1;
                    if (i == count)
                    {
                        <tr>


                                <td>@Model[i].naam</td> 
                          <td>  @String.Format("{0:0.00}", Model[i].BrutoOmzet)</td> 
                          <td>    @String.Format("{0:0.00}", Model[i].NettoOmzet)</td> 
                        </tr>
                 
              
                             
                   
                    }
                    else
                    {
                         <tr>


                                <td>@Model[i].naam</td> 
                          <td>  @String.Format("{0:0.00}", Model[i].BrutoOmzet)</td> 
                          <td>    @String.Format("{0:0.00}", Model[i].NettoOmzet)</td> 
                        </tr>
                    }
                }
            }
            </table>
        </div>

