@model Webshop_gr02.Models.Registratie

@{
    ViewBag.Title = "ToevoegenRegistratie";
}

<div class="content_wrap">   
    
    <form method="post"  action="/Account/ToevoegenRegistratie">
    <span style="color:red">@Html.ValidationMessage("toevoegen is niet gelukt")</span> 
    <fieldset>
        <legend>Registratie toevoegen</legend>

        <div class="editor-label">
            Voornaam:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Voornaam)
            @Html.ValidationMessageFor(model => model.Voornaam) 
        </div>

        <div class="editor-label">
            Tussenvoegsels:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tussenvoegsel)
            @Html.ValidationMessageFor(model => model.Tussenvoegsel) 
        </div>

        <div class="editor-label">
            Achternaam:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Achternaam)
            @Html.ValidationMessageFor(model => model.Achternaam) 
        </div>

        <div class="editor-label">
            Gebruikersnaam:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username) 
            <span style="color:red">@Html.ValidationMessage("registratiefout")</span> 
        </div>

        <div class="editor-label">
            Wachtwoord:
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            Herhaal wachtwoord (ter controle):
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password2)
            @Html.ValidationMessageFor(model => model.Password2)
        </div>

        <div class="editor-label">
        Postcode:
        </div>
         <div class="editor-field">
            @Html.TextBoxFor(model => model.klant.postcode)
            @Html.ValidationMessageFor(model => model.klant.postcode) 
        </div>

        <div class="editor-label">
            Huisnummer:
        </div>
         <div class="editor-field">
            @Html.TextBoxFor(model => model.klant.huisnummer)
            @Html.ValidationMessageFor(model => model.klant.huisnummer) 
        </div>

        <div class="editor-label">
            Email:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email) 
            <span style="color:red">@Html.ValidationMessage("emailfout")</span> 
        </div>

        <div class="editor-label">
            Geslacht:
        </div>
        <div>
            @Html.RadioButtonFor(model => model.Geslacht, "M", new { Checked = "checked" }) Man
            @Html.RadioButtonFor(model => model.Geslacht, "V") Vrouw
            @Html.ValidationMessageFor(model => model.Geslacht)
        </div>
        <br>
        <p>
            <input type="submit" value="Toevoegen" />
        </p>
    </fieldset>
    </form> 
</div>