@model Webshop_gr02.Models.Gebruiker
@{
    ViewBag.Title = "WijzigGebruiker";
}

<h2>WijzigGebruiker</h2>

<div class="content_wrap">   
    
    @using (Html.BeginForm("WijzigGebruiker", "Gebruiker"))
    {
    <span style="color:red">@Html.ValidationMessage("wijzigen is niet gelukt")</span> 
    <fieldset>
        <legend>Wijzig Gebruiker gegevens</legend>


        <div class="editor-label">
            Voornaam:
        </div>
       
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Voornaam)
            @Html.ValidationMessageFor(model => model.Voornaam) 
        </div>

        <div class="editor-label">
            Tussenvoegsels:
        </div>
       
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tussenvoegsel)
            @Html.ValidationMessageFor(model => model.Tussenvoegsel) 
        </div>

        <div class="editor-label">
            Achternaam:
        </div>
       
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Achternaam)
            @Html.ValidationMessageFor(model => model.Achternaam) 
        </div>

        <div class="editor-label">
            Username:
        </div>
       
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username) 
        </div>

        <div class="editor-label">
            Password:
        </div>
       
        <div class="editor-field"> 
           
        
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password) 

            
        </div>

        <div class="editor-label">
            Email:
        </div>
       
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email) 
        </div>


        <p>
            <input type="submit" value="Wijzig" />
        </p>
    </fieldset>
    } 
</div>