@model Webshop_gr02.ViewModels.ProductTypeViewModel
@{
    ViewBag.Title = "ProductWijzigen";
}



<div class="content_wrap">
    <form method="post" action="/Product/ProductWijzigen">
        <span style="color: red">@Html.ValidationMessage("Wijzigen is niet gelukt")</span>
        <fieldset>
            <legend>Product Wijzigen</legend>

            <div class="editor-label">
                ProductType:
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedProductTypeID, Model.ProductType)
                @Html.ValidationMessageFor(model => model.SelectedProductTypeID)
            </div>

            <div class="editor-label">
                Naam product:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Product.naam)
                @Html.ValidationMessageFor(model => model.Product.naam)
            </div>

            <div class="editor-label">
                Voorraad:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Product.voorraad)
                @Html.ValidationMessageFor(model => model.Product.voorraad)
            </div>

            <div class="editor-label">
                Zichtbaar:
            </div>


            @Html.RadioButtonFor(model => model.Product.zichtbaar, "1") Ja
            @Html.RadioButtonFor(model => model.Product.zichtbaar, "0", new { Checked = "checked" }) Nee
            @Html.ValidationMessageFor(model => model.Product.zichtbaar)

            @Html.HiddenFor(model => model.Product.ID_P)

            <p>
                <input type="submit" value="Wijzigen" />
            </p>
        </fieldset>
    </form>

</div>
