@using Webshop_gr02.Models;
@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "ProductenOverzicht";
}


<div class="content_wrap">
    <h2>Overzicht Product</h2>
    <p id="Button">@Html.ActionLink("Product Toevoegen", "ToevoegenProduct", new { }, new { @class = "btn btn-primary" })</p>

    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Voorraad</th>
                <th>Zichtbaar</th>
                <th>ID Producttype</th>
                <th>Naam Producttype</th>
                <th>Maat</th>
                <th>Wijzigen</th>
                <th>Verwijderen</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].naam</td>
                    <td>@Model[i].voorraad</td>
                    <td>@Model[i].zichtbaar</td>
                    <td>@Model[i].productType.ID_PT</td>
                    <td>@Model[i].productType.Naam</td>
                    <td>@Model[i].Maat</td>
                    <td>@Html.ActionLink("wijzigen", "ProductWijzigen", new { ProductId = @Model[i].ID_P })</td>
                    <td>@Html.ActionLink("verwijder", "verwijderenProduct", new { ProductId = @Model[i].ID_P })</td>
                </tr>
            }
        </tbody>
    </table>


</div>
