@model Webshop_gr02.ViewModels.ProductTypeAanbiedingen
@{
    ViewBag.Title = "ToevoegenProductType";
}

<div class="content_wrap">

    @using (Html.BeginForm("ToevoegenProductType", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        @Html.ValidationSummary(true)
        <span style="color: red">@Html.ValidationMessage("toevoegen is niet gelukt")</span>
        <fieldset>
            <legend>Producttype toevoegen</legend>

            <div class="editor-label">
                Naam:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ProductType.Naam)
                @Html.ValidationMessageFor(model => model.ProductType.Naam)
                <span style="color: red">@Html.ValidationMessage("producttypefout")</span>
            </div>

            <div class="editor-label">
                Merk:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ProductType.Merk)
                @Html.ValidationMessageFor(model => model.ProductType.Merk)
            </div>

            <div class="editor-label">
                Inkoopprijs:
            </div>
            <div class="editor-field">
                €    @Html.TextBoxFor(model => model.ProductType.InkoopPrijs)
                @Html.ValidationMessageFor(model => model.ProductType.InkoopPrijs)
            </div>

            <div class="editor-label">
                Verkoopprijs:
            </div>
            <div class="editor-field">
                €   @Html.TextBoxFor(model => model.ProductType.VerkoopPrijs)
                @Html.ValidationMessageFor(model => model.ProductType.VerkoopPrijs)
            </div>

            <div class="editor-label">
                Omschrijving:
            </div>
            <div class="editor-area">
                @Html.TextAreaFor(model => model.ProductType.Omschrijving)
                @Html.ValidationMessageFor(model => model.ProductType.Omschrijving)
            </div>

            <div class="editor-label">
                Selecteer een afbeelding wanneer gewenst:
            </div>
            <div class="editor-field">  

                @Html.TextBoxFor(model => model.ProductType.ImagePath, new { type = "file" })
                @Html.ValidationMessageFor(model => model.ProductType.ImagePath
                  )

               
           

                <div>
                    @ViewBag.Message
                </div>
            </div>

            <div class="editor-label">
                Zichtbaar:
            </div>
            <br>

            @Html.RadioButtonFor(model => model.ProductType.Zichtbaar, true) Ja
               @Html.RadioButtonFor(model => model.ProductType.Zichtbaar, false, new { Checked = true }) Nee

            
                 @Html.ValidationMessageFor(model => model.ProductType.Zichtbaar)

            <div class="editor-label">
                Aanbieding
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedAanbiedingID, Model.Aanbiedingen)
            </div>
            <p>
                <input type="submit" value="Toevoegen" name="Command" />
            </p>
        </fieldset>
    }
</div>
