@model Webshop_gr02.Models.Product
@{
    ViewBag.Title = "ToevoegenProduct";
}

<div class="content_wrap">
    <form method="post" action="/Product/ToevoegenProduct">
    <span style="color:red">@Html.ValidationMessage("Toevoegen is niet gelukt")</span>
    <fieldset>
        <legend>Product toevoegen</legend>

        <div class="editor-label">
            Naam product:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.naam)
            @Html.ValidationMessageFor(model => model.naam)
        </div>

        <div class="editor-label">
            Voorraad:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.voorraad)
            @Html.ValidationMessageFor(model => model.voorraad) 
        </div>

        <div class="editor-label">
            Zichtbaar:
        </div>
        @Html.RadioButtonFor(Model => Model.zichtbaar, "1") Ja
        @Html.RadioButtonFor(Model => Model.zichtbaar, "0", new { Checked = "checked" }) Nee
        @Html.ValidationMessageFor(Model => Model.zichtbaar)    
        
        <div class="editor-label">
            ID producttype:
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.productType.ID_PT)
            @Html.ValidationMessageFor(model => model.productType.ID_PT)
        </div>

        <p>
            <input type="submit" value="Toevoegen" />
        </p>
    </fieldset>
    </form>
</div>