@model Webshop_gr02.Models.ProductType
@{
    ViewBag.Title = "WijzigProductTpe";
}

<h2>Wijzig Product type</h2>


<form method="post" action="/Product/WijzigProductType/">   
    <fieldset>
        <legend>Product Type wijzigen</legend>

        <input type="hidden" value="@Model.ID_PT" name="id" />
        <div class="editor-label">
           Naam
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Naam)
        </div>
         <div class="editor-label">
           Inkoop prijs
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InkoopPrijs)
        </div>
         <div class="editor-label">
           Verkoop prijs
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VerkoopPrijs)
        </div>
         <div class="editor-label">
           Omschrijving
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Omschrijving)
        </div>
         <div class="editor-label">
           Image
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ImagePath)
        </div>
         <div class="editor-label">
           Zichtbaar
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Zichtbaar)
        </div>
         <div class="editor-label">
           Aanbieding
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Aanbieding)
        </div>
        <div class="editor-label">
          Merk
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Merk)
        </div>

        @Html.HiddenFor(model => model.ID_PT)



        <p>
            <input type="submit" value="Wijzig" />
        </p>
    </fieldset>
</form>


