@model Webshop_gr02.Models.Categorie
@{
    ViewBag.Title = "WijzigenCategorie";
}
 @Html.ValidationSummary(true)
<div class="content_wrap">

    <h2>WijzigenCategorie</h2>
    @using (Html.BeginForm("WijzigenCategorie", "Categorie"))
    {
  
        <fieldset>
            <legend>Categorie wijzigen</legend>

            @Html.HiddenFor(model => model.ID_C)
            <div class="editor-label">
                Soort
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Naam)
                 @Html.ValidationMessageFor(model => model.Naam) 
<span style="color:red">@Html.ValidationMessage("categoriefout")</span> 
            </div>

            <p>
                <input type="submit" value="Wijzig" />
            </p>
        </fieldset>
    }
</div>
