@model List<Webshop_gr02.Models.Bestelling>

@{
    ViewBag.Title = "OverzichtBesteldeProducten";
}

<div class="content_wrap">
    <h2>Overzicht bestelde producten</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Bestelling ID</td>
                <td>Klant ID</td>
                <td>Voornaam</td>
                <td>Tussenvoegsel</td>
                <td>Achternaam</td>
                <td>Bedrag (in euro's)</td>
                <td>Datum</td>
                <td>Status</td>
                <td>Wijzigen</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                {
                    var count = Model.Count - 1;
                    if (i == count)
                    {
                        <tr>
                            <td>@Model[i].ID_B</td>
                            <td>@Model[i].ID_K</td> 
                            <td>@Model[i].voornaam</td>
                            <td>@Model[i].tussenvoegsel</td>
                            <td>@Model[i].achternaam</td>
                            <td>@String.Format("{0:0.00}", Model[i].bedrag)</td>
                            <td>@Model[i].datum.ToString("dd/MM/yyyy")</td> 
                            <td>@Model[i].status</td>                      
                            @if (Model[i].status.Equals("Besteld") || Model[i].status.Equals("besteld")){
                                <td>@Html.ActionLink("Betaald", "WijzigBesteldeProducten", new { BestellingID = @Model[i].ID_B })</td>
                            }
                        </tr>
               
                    }
                    else
                    {
                        <tr>

                            <td>@Model[i].ID_B</td>
                            <td>@Model[i].ID_K</td>
                            <td>@Model[i].voornaam</td>
                            <td>@Model[i].tussenvoegsel</td>
                            <td>@Model[i].achternaam</td>
                            <td>@String.Format("{0:0.00}", Model[i].bedrag)</td>
                            <td>@Model[i].datum.ToString("dd/MM/yyyy")</td> 
                            <td>@Model[i].status</td>                      
                            @if (Model[i].status.Equals("Besteld") || Model[i].status.Equals("besteld")){
                                <td>@Html.ActionLink("Betaald", "WijzigBesteldeProducten", new { BestellingID = @Model[i].ID_B })</td>
                            }
                        </tr>
                    } 
                }
            }
        </tbody>
    </table>
</div>
